@charset "UTF-8";
body {
  font-family: 'Graphik', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  min-width: 320px;
  position: relative;
  background: #080809;
  max-width: 3000px;
  margin: auto;
  color: #fff; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #fff;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1100px;
  margin: auto; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

/*---------------------------HEADER------------------------*/
header {
  position: relative;
  z-index: 2; }

.top-line {
  padding: 32px 0; }
  .top-line .content-width {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .top-line .content-width a {
      display: inline-block; }
    .top-line .content-width img {
      width: auto; }
    .top-line .content-width .mob {
      display: none; }

/*--------------------------END-HEADER------------------------*/
/*--------------------------HOME-BANNER------------------------*/
div > canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 757px;
  width: 100% !important;
  opacity: 0.5;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  max-width: calc(100vw - 17px); }

.home-banner {
  position: relative;
  padding: 88px 0 50px;
  z-index: 2; }
  .home-banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
    .home-banner .bg canvas {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
  .home-banner .content-width {
    position: relative;
    z-index: 2; }
  .home-banner h1 {
    color: #D9D9D9;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: 600px;
    margin: 0 auto 25px; }
  .home-banner p {
    color: #D9D9D9;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    max-width: 500px;
    margin: 0 auto 26px; }
  .home-banner .btn-wrap {
    text-align: center;
    margin-bottom: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home-banner h6 {
    color: #43A58D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 6px; }
  .home-banner .stars-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .home-banner .stars-wrap img {
      margin: 0 4px; }

.btn-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#D9D9D9));
  background: linear-gradient(180deg, #FFF 0%, #D9D9D9 100%);
  -webkit-box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  color: #101012;
  font-size: 16px;
  font-style: normal;
  font-weight: 500; }
  .btn-default img {
    margin-left: 10px;
    position: relative;
    left: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }

/*-------------------------END-HOME-BANNER------------------------*/
/*--------------------------ROW-SCROLL------------------------*/
.row-scroll {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
  z-index: 2; }
  .row-scroll .marquee-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 230px; }
  .row-scroll .marquee-block > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .row-scroll .marquee-block > div img {
      height: 230px;
      width: auto; }
  .row-scroll .marquee-block + .marquee-block {
    margin-top: 14px; }
  .row-scroll .js-marquee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .row-scroll .js-marquee .item {
      width: auto;
      min-width: 410px;
      margin-right: 14px; }

.coach {
  padding: 50px 0 50px; }
  .coach .content {
    border-radius: 8px;
    border: 1px solid var(--frosted, rgba(51, 59, 72, 0.5));
    background: var(--scythos-5, linear-gradient(180deg, rgba(67, 165, 141, 0.1) 0%, rgba(0, 0, 0, 0) 100%));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 96px 65px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .coach .content figure {
      width: 234px;
      height: 234px;
      border-radius: 100%;
      overflow: hidden; }
      .coach .content figure img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .coach .content .text-wrap {
      width: calc(100% - 300px); }
      .coach .content .text-wrap h2 {
        margin-bottom: 19px;
        color: #D9D9D9;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; }
      .coach .content .text-wrap p {
        color: #D9D9D9;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 30px;
        padding-right: 9%; }
        .coach .content .text-wrap p b {
          font-weight: 500; }
      .coach .content .text-wrap ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .coach .content .text-wrap ul li {
          width: 150px;
          position: relative;
          padding-right: 15px;
          margin-right: 42px;
          color: #D9D9D9;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 1px; }
          .coach .content .text-wrap ul li:after {
            position: absolute;
            top: 50%;
            height: 20px;
            width: 1px;
            content: '';
            background: #D9D9D9;
            margin-top: -10px;
            right: -4px; }
        .coach .content .text-wrap ul li:last-child:after {
          display: none; }

/*-------------------------END-ROW-SCROLL------------------------*/
/*-------------------------LOGO-BLOCK------------------------*/
.logo-block {
  padding: 50px 0 50px; }
  .logo-block .swiper-slide {
    width: 220px;
    padding: 0 25px;
    height: 103px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

/*------------------------END-LOGO-BLOCK------------------------*/
/*------------------------TESTIMONIALS------------------------*/
.testimonials {
  padding: 57px 0 100px; }
  .testimonials h5 {
    color: #43A58D;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 9px; }
  .testimonials h2 {
    color: #D9D9D9;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    max-width: 710px;
    margin: 0 auto 30px; }
  .testimonials .swiper-slide {
    border-radius: 6.092px;
    border: 1px solid var(--frosted, rgba(51, 59, 72, 0.5));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(67, 165, 141, 0.1)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, rgba(67, 165, 141, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 35px 30px; }
    .testimonials .swiper-slide .stars-wrap {
      margin-bottom: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .testimonials .swiper-slide .stars-wrap img {
        margin-right: 8px;
        width: 15px; }
    .testimonials .swiper-slide h6 {
      color: #D9D9D9;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 4.8px;
      margin-bottom: 13px; }
    .testimonials .swiper-slide blockquote {
      margin: 0 0 16px;
      position: relative;
      color: #D9D9D9;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px; }
      .testimonials .swiper-slide blockquote:before {
        display: inline-block;
        content: '“';
        color: #43A58D;
        font-size: 29.286px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.778px; }
    .testimonials .swiper-slide .user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .testimonials .swiper-slide .user figure {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        overflow: hidden; }
        .testimonials .swiper-slide .user figure img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover; }
      .testimonials .swiper-slide .user .text {
        width: calc(100% - 50px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .testimonials .swiper-slide .user .text p {
          color: #D9D9D9;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 158%; }
          .testimonials .swiper-slide .user .text p b {
            font-size: 14px;
            font-weight: 600; }
        .testimonials .swiper-slide .user .text p + p {
          margin-top: -2px; }
  .testimonials .nav-wrap {
    margin: 30px auto 0;
    position: relative;
    width: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .testimonials .nav-wrap > div {
      cursor: pointer;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      position: relative;
      top: 0;
      margin: 0;
      left: 0;
      right: 0; }
      .testimonials .nav-wrap > div:after {
        display: none; }
      .testimonials .nav-wrap > div img {
        width: 100%;
        height: 100%; }

/*-----------------------END-TESTIMONIALS------------------------*/
/*-----------------------ABOUT------------------------*/
.about {
  padding: 60px 0 100px; }
  .about h5 {
    color: #43A58D;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 7px; }
  .about h2 {
    color: #D9D9D9;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin: 0 auto 30px;
    max-width: 560px; }
  .about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 60px 0 90px; }
    .about ul li {
      width: 24%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 41px; }
      .about ul li figure {
        width: 36px;
        height: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 15px; }
      .about ul li p {
        color: #D9D9D9;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; }
  .about .btn-wrap {
    margin-top: -9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*----------------------END-ABOUT------------------------*/
/*----------------------CASE------------------------*/
.case {
  padding: 50px 0 50px; }
  .case .content {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    padding: 72px 72px; }
  .case .bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    .case .bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .case .text {
    width: 40%;
    position: relative;
    z-index: 2; }
  .case h2 {
    color: #D9D9D9;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px; }
  .case p {
    color: #D9D9D9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px; }
  .case .btn-wrap {
    margin-top: 30px; }

/*---------------------END-CASE------------------------*/
/*---------------------INFO------------------------*/
.info {
  padding: 105px 0 50px; }
  .info h2 {
    color: #D9D9D9;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    width: 775px;
    margin: 0 auto 30px; }
  .info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 140px; }
    .info ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 32%;
      margin-bottom: 27px; }
      .info ul li figure {
        width: 31px;
        height: 31px;
        margin-right: 20px; }
        .info ul li figure img {
          width: 100%; }
      .info ul li p {
        color: #D9D9D9;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        width: calc(100% - 51px); }
  .info .btn-wrap {
    margin-top: -3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*--------------------END-INFO------------------------*/
/*--------------------FAQ------------------------*/
.faq {
  padding: 106px 0 50px; }
  .faq h5 {
    color: #43A58D;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 9px; }
  .faq h2 {
    color: #D9D9D9;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 30px; }
  .faq .accordion-thumb {
    position: relative;
    cursor: pointer;
    padding: 32px 0 32px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background: transparent; }
    .faq .accordion-thumb:after {
      position: absolute;
      top: 39px;
      right: 0;
      content: '';
      width: 14px;
      height: 14px;
      background: url("../img/icon-4.svg") no-repeat center;
      background-size: contain;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
    .faq .accordion-thumb:before {
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      bottom: 0;
      content: "";
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      background: rgba(255, 255, 255, 0.05);
      opacity: 0; }
    .faq .accordion-thumb h6 {
      color: #D9D9D9;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 24.506px;
      margin: 0; }
    .faq .accordion-thumb:hover:before {
      opacity: 1; }
  .faq .is-active .accordion-thumb:after {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  .faq .accordion-item {
    border-bottom: 1px solid #D9D9D9; }
  .faq .accordion-panel {
    display: none; }
    .faq .accordion-panel .wrap {
      padding: 20px 0; }
    .faq .accordion-panel p {
      color: #D9D9D9;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 20px; }
    .faq .accordion-panel p:last-child {
      margin-bottom: 0; }

/*-------------------END-FAQ------------------------*/
/*-------------------DESIGN-ELEMENTS------------------------*/
.design-elements {
  padding: 50px 0 50px; }
  .design-elements .content {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 64px 60px;
    min-height: 350px; }
  .design-elements h3 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 32px;
    width: 930px; }
  .design-elements .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .design-elements .bg img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 100%; }
  .design-elements .wrap {
    position: relative;
    z-index: 2; }
  .design-elements .btn-wrap a {
    -webkit-box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
    padding: 0 15px; }

/*------------------END-DESIGN-ELEMENTS------------------------*/
/*------------------PRICE------------------------*/
.price {
  padding: 50px 0 25px; }
  .price h5 {
    color: #43A58D;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 10px; }
  .price h2 {
    color: #D9D9D9;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 63px; }
  .price .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 27px; }
  .price .item {
    border-radius: 8px;
    padding: 40px 64px;
    border: 1px dashed #43A58D;
    -webkit-box-shadow: 0px 8.3004970551px 12.4507446289px -2.4901490211px rgba(0, 0, 0, 0.1), 0px 3.3201985359px 4.9802980423px -1.660099268px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 8.3004970551px 12.4507446289px -2.4901490211px rgba(0, 0, 0, 0.1), 0px 3.3201985359px 4.9802980423px -1.660099268px rgba(0, 0, 0, 0.06); }
    .price .item h6 {
      color: #FFF;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 19.921px;
      margin-bottom: 11px; }
    .price .item p {
      color: #FFF;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 18px; }
    .price .item p.cost {
      color: #FFF;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 2px; }
    .price .item .btn-wrap {
      margin: 15px 0 9px;
      padding: 0 5px; }
      .price .item .btn-wrap a {
        width: 100%;
        font-size: 14px;
        line-height: 40px;
        height: 40px; }
    .price .item p.link {
      margin-bottom: 21px; }
      .price .item p.link a {
        display: inline-block;
        position: relative;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 8px; }
        .price .item p.link a:after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          -webkit-transition: all .4s ease;
          transition: all .4s ease;
          height: 1px;
          background: #fff; }
        .price .item p.link a:hover:after {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0); }
    .price .item ul li {
      color: #FFF;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 8px;
      margin-bottom: 16px; }
    .price .item ul li:last-child {
      margin-bottom: 0; }

.btn-white:hover {
  background: #43A58D;
  color: #fff; }

/*-----------------END-PRICE------------------------*/
/*-----------------FOOTER------------------------*/
.footer {
  position: relative;
  padding: 0 0 250px; }
  .footer .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .footer .bg img {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto; }
    .footer .bg .mob {
      display: none; }
  .footer .content-width {
    position: relative;
    z-index: 2; }
  .footer .content {
    border-radius: 4px;
    border: 1.062px dashed #43A58D;
    -webkit-box-shadow: 0px 8.3004970551px 12.4507446289px -2.4901490211px rgba(0, 0, 0, 0.1), 0px 3.3201985359px 4.9802980423px -1.660099268px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 8.3004970551px 12.4507446289px -2.4901490211px rgba(0, 0, 0, 0.1), 0px 3.3201985359px 4.9802980423px -1.660099268px rgba(0, 0, 0, 0.06);
    padding: 50px 50px;
    text-align: center; }
  .footer h3 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.921px;
    margin-bottom: 9px; }
  .footer p {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 17px; }
  .footer p.cost {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.882px;
    margin-bottom: 16px; }
  .footer .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer .btn-wrap a {
      font-size: 14px;
      line-height: 40px;
      height: 40px;
      width: 209px; }

/*----------------END-FOOTER------------------------*/
.design-elements .content {
  background-color: rgba(73, 91, 87, 0.1); }

.button_su {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 8px; }

.su_button_circle {
  background-color: red;
  border-radius: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none; }

.button_text_container {
  position: relative;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.explode-circle {
  -webkit-animation: explode 0.5s forwards;
          animation: explode 0.5s forwards; }

.desplode-circle {
  -webkit-animation: desplode 0.5s forwards;
          animation: desplode 0.5s forwards; }

@-webkit-keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(42, 53, 80, 0.2); }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87, 0.8); } }

@keyframes explode {
  0% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(42, 53, 80, 0.2); }
  100% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87, 0.8); } }
@-webkit-keyframes desplode {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87, 0.8); }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(129, 80, 108, 0.6); } }
@keyframes desplode {
  0% {
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(20, 180, 87, 0.8); }
  100% {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(129, 80, 108, 0.6); } }
.price .item .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.price .item p.link a:after {
  bottom: -4px; }
/*# sourceMappingURL=styles.css.map */